$visual-grid: true;

////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$red: #F44336;
$yellow: #FFCA28;
$teal: #00BFA5;
